* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  letter-spacing: 0.2rem;
}

.background-block {
  background-image: url("../../images/homeImages/picture/grayscale-photography-building-low-angle.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-main {
  position: absolute;
  right: 20px;
  top: 20px;
  animation: 3s linear infinite rotate;
}

.animated-button {
  max-width: 80px;
  height: auto;
  transition: transform 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(248, 216, 157, 0.945);
}

.animated-button:hover {
  transform: scale(1.1);
  background-color: white;
  opacity: 0.8;
}

.content-main {
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

.content-main h1 {
  font-size: 4.5rem;
}

.content-main h2 {
  font-size: 3.5rem;
}

.content-main p {
  font-size: 1.5rem;
  font-weight: 400;
}

button:hover {
  transform: scale(1.1);
  background-color: black;
  color: beige;
  opacity: 0.6;
}

button {
  font-size: 1.5rem;
  padding: 10px 30px;
  border-radius: 30px 0px;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(248, 216, 157, 0.945);
}

.button-call {
  padding: 10px 40px;
}

.navbar-button {
  display: flex;
  justify-content: space-around;
  gap: 150px;
}

.animated-button-two {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 30px;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-button-three {
  position: absolute;
  top: 80%;
  right: 20%;
  font-size: 30px;
  animation: rotation 3s infinite linear;
}

.animated-button-four {
  position: absolute;
  top: 155%;
  left: 5%;
  font-size: 30px;
  animation: rotation 2s infinite linear;
}

.animated-button-five {
  position: absolute;
  top: 110%;
  left: 45%;
  font-size: 30px;
  animation: rotation 2s infinite linear;
}

/* 2 блок */
.main,
.menu-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 60px 50px;
}

.content-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  max-width: 500px;
}

.image-slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-slider img,
.image-room img {
  width: 400px;
  height: 500px;
  border-radius: 10px 80px;
}

/* 3 блок */
.block-room {
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  padding: 60px 50px;
}

.image-room {
  position: relative;
  width: 100%;
  height: auto;
}

.image-room img {
  width: 50%;
  height: auto;
  box-shadow: 0 0 10px rgba(248, 216, 157, 0.999);
}

.image-room img#slidingImageRoomTwo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 2px;
}

/* 4 блок */

.carousel {
  position: relative;
  padding: 50px;
  background-color: black;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 80vh;
  overflow: hidden;
  padding: 30px 50px;
}

.carousel-inner img {
  width: 80%;
  display: none;
}

.carousel-inner img.active {
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-control:hover {
  display: none;
}

/* 5 блок */
.event-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 60px 40px;
  font-family: italic;
  font-size: 1.2rem;
}

.event-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 10px 40px;
}
#event-video {
  width: 40vw;
  border-radius: 10px 80px;
}

.block-event-button {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

/* 6 блок */
.menu-block {
  background-image: url(../../images/homeImages/picture/restaurant-21.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
  font-size: 1.5rem;
  position: relative;
}

.content-menu {
  display: flex;
  max-width: 60vw;
  gap: 40px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: -5%;
}
.content-menu h1 {
  top: 40px;
  position: absolute;
  right: 100%;
  animation: slide-in 8s linear infinite;
  color: red;
  box-shadow: 0 0 10px rgba(248, 216, 157, 0.945);
  white-space: nowrap;
}

@keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
.button-menu,
.button-history,
.button-reserv-event,
.button-reserv-grid {
  background-color: black;
  color: white;
}

.image-menu {
  position: absolute;
  right: 0%;
  top: -20%;
  animation: rotation 3s infinite linear;
}

.image-menu-two {
  position: absolute;
  left: 0%;
  bottom: -30%;
  animation: rotation 3s infinite linear;
}

/* 7 блок */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  margin: 70px 30px;
  height: auto;
  max-width: 100vw;
  border-radius: 10px 30px;
}

.grid-item {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10px;
  transition: 1s;
}

.grid-item:hover {
  transform: scale(1.1);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item-large {
  grid-column: span 2;
}

.grid-item:nth-child(1) {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.grid-item:nth-child(2) {
  grid-row: 1;
  grid-column: 3;
}

.grid-item:nth-child(3) {
  grid-row: 1;
  grid-column: 4 / span 2;
}

.grid-item:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
}

.grid-item:nth-child(5) {
  grid-row: 2;
  grid-column: 2 / span 2;
}

.grid-item:nth-child(6) {
  grid-row: 2;
  grid-column: 4 / span 2;
}

.grid-button {
  text-align: center;
  margin: 60px;
}
/* 8 блок */

.footer-main {
  background-color: black;
  color: #fff;
  padding: 40px 20px;
  box-shadow: 0 0 10px rgba(226, 207, 170, 0.945);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin: 20px 30px;
}

.footer-logo {
  flex: 1;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(248, 216, 157, 0.945);
}

.footer-contact,
.footer-nav,
.footer-social,
.footer-loyalty {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-contact h4,
.footer-nav h4,
.footer-social h4,
.footer-loyalty h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #f4a261;
}

.footer-contact p,
.footer-loyalty p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li {
  margin-bottom: 8px;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-nav ul li a:hover {
  color: #f4a261;
}

.footer-social a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #f4a261;
}

.footer-main-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 14px;
}

.footer-main-bottom a {
  color: #f4a261;
  text-decoration: none;
  margin-left: 10px;
}

.footer-main-bottom a:hover {
  text-decoration: underline;
}
.info-block {
  height: 20vh;
  color: #1c1c1c;
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  font-size: 6rem;
  width: 100%;
  overflow: hidden;
}
.info-block-text {
  position: absolute;
  white-space: nowrap;
  animation: nudge 20s linear infinite;
}
@keyframes nudge {
  0% {
    transform: translatex(100%);
  }
  100% {
    transform: translatex(-100%);
  }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
  .background-block {
    padding: 40px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }
  .navbar-button {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
  }
  .content-title h1 {
    font-size: 24px;
  }

  .content-title h2 {
    font-size: 20px;
  }

  .content-main {
    gap: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  button {
    font-size: 1rem;
    padding: 10px;
  }

  .button-call {
    padding: 10px;
  }
  .button-reserv,
  .button-call,
  .button-history {
    width: 100%;
    margin: 10px 0;
  }
  .content-block {
    justify-content: start;
    gap: 30px;
    text-align: left;
  }
  .main,
  .block-room,
  .menu-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    padding: 30px;
  }
  .carousel img {
    width: 100%;
    height: auto;
  }

  .image-menu,
  .image-menu-two {
    display: none;
  }

  .event-block {
    flex-direction: column;
    gap: 20px;
    margin: 40px 20px;
    font-size: 1rem;
    text-align: center;
  }
  .event-item {
    padding: 10px;
    border-radius: 10px;
  }

  #event-video {
    width: 70vw;
    border-radius: 10px 80px;
  }
  .block-event-button {
    align-items: center;
    gap: 20px;
  }
  .menu-block {
    height: 80vh;
    color: white;
    font-size: 1rem;
    margin: 30px;
  }

  .content-menu {
    display: flex;
    max-width: 70vw;
    justify-content: space-around;
    gap: 40px;
    flex-direction: column;
    margin: 30px;
  }
  .content-menu h1 {
    display: none;
  }

  .carousel {
    padding: 20px;
    overflow-x: auto;
  }

  .carousel-inner img {
    width: 80vw;
    height: 60vh;
    max-width: 450px;
    display: block;
    margin-right: 20px;
  }

  .carousel-inner img:last-child {
    margin-right: 0;
  }
  .prev,
  .next {
    display: none;
  }

  .grid-container {
    padding: 20px;
    overflow-x: auto;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo img {
    margin: 0 auto;
  }

  .footer-main-social a {
    display: inline-block;
    margin: 0 10px;
  }

  .footer-main-bottom {
    font-size: 12px;
  }
  .info-block {
    font-size: 24px;
  }
}

/* Стили для планшетов */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .content-title h1 {
    font-size: 28px;
  }

  .content-title h2 {
    font-size: 24px;
  }

  button {
    font-size: 1.2rem;
    padding: 15px;
  }

  .button-call {
    padding: 15px;
  }
  .image-menu,
  .image-menu-two {
    display: none;
  }
  .main,
  .block-room {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
    padding: 40px;
  }

  .menu-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
  }

  .content-menu h1 {
    font-size: 24px;
  }
  .event-block {
    flex-direction: column;
    gap: 30px;
    margin: 50px 30px;
    font-size: 1.1rem;
    text-align: center;
  }
  .info-block {
    font-size: 36px;
  }
  .event-item {
    padding: 15px;
    border-radius: 15px;
  }

  #event-video {
    width: 80vw;
    border-radius: 10px 80px;
  }
  .block-event-button {
    align-items: center;
    gap: 30px;
  }
  .menu-block {
    height: 90vh;
    color: white;
    font-size: 1.2rem;
  }

  .content-menu {
    display: flex;
    max-width: 80vw;
    justify-content: space-around;
    gap: 40px;
    flex-direction: column;
    margin: 50px;
  }
  .carousel {
    padding: 20px;
    overflow-x: auto;
  }

  .carousel-inner img {
    width: 90vw;
    height: 70vh;
    max-width: 500px;
    display: block;
    margin-right: 30px;
  }

  .carousel-inner img:last-child {
    margin-right: 0;
  }
  .prev,
  .next {
    display: none;
  }
}
